header{
    text-align: center;
    color: beige;
    background-color: darkblue;

}
body{
    background-color: azure;
}
.mainContent{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.cities{
    background-color: transparent;
    width: 150px;
    height: 100vh;
    background-color: beige;
}
.resultsContainer{
    background-color: azure;
    width: auto;
    height: 100vh;
    /* border-left: solid cornflowerblue 1px; */
    margin: 0px 5px;
}
.oneDay{
    border-bottom: solid cornflowerblue 1px;
    height: 250px;
    width: auto;
}
.cityRow{
    display: flex;
    height: 50px;
}
#weatherIcon{
    display: none;
}
.cityName{
    margin-bottom: 0px;
}
#date{
    margin-left: 10px;
    margin-right: 10px;
}
.fiveDay{
    background-color: azure;
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    width: auto;
}
#forecastHeader{
    width: 500px;
}
.forecastPane{
    width: 160px;
    background-color: lightblue;
    margin: 20px;
}
#dayOneIcon{
    display: none;
}
#dayTwoIcon{
    display: none;
}
#dayThreeIcon{
    display: none;
}
#dayFourIcon{
    display: none;
}
#dayFiveIcon{
    display: none;
}
.savedSearches{
    display: flex;
    flex-direction: column;
}
#citySearch{
    width: 146px;
}
#searchButton{
    width: 150px;
}
button{
    margin: 5px 0px;
}