header{
    text-align: center;
}
.mainContent{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.cities{
    background-color: transparent;
    width: 250px;
    height: auto;
}
.resultsContainer{
    background-color: brown;
    width: auto;
    height: 450px;
    border-left: solid cornflowerblue 5px;
}
.oneDay{
    border-bottom: solid cornflowerblue 5px;
    height: 250px;
}
.cityRow{
    display: flex;
    height: 50px;
}
#weatherIcon{
    display: none;
}
.cityName{
    margin-bottom: 0px;
}
#date{
    margin-left: 10px;
    margin-right: 10px;
}
.fiveDay{
    background-color: teal;
    display: flex;
    height: 200px;
    flex-wrap: wrap;
}
#forecastHeader{
    width: 500px;
}
.forecastPane{
    width: 200px;
}
#dayOneIcon{
    display: none;
}
#dayTwoIcon{
    display: none;
}
#dayThreeIcon{
    display: none;
}
#dayFourIcon{
    display: none;
}
#dayFiveIcon{
    display: none;
}